<h3>Welcome to Find Your Shit, <%= @user.name %>!</h3>
<p>Registered Reviewers: <%= User.count %> </p>
<p>Your chosen bathrooms are: </p>
<p>Gender neutral </p>
<p><% if @user.male == false %>
    Male
    <% end %> </p>
<p><% if @user.female == false%>
    Female
    <% end %> </p>
Choose how you would like to see your bathrooms:
