<h3>Welcome to Find Your Shit, <%= @user.name %>!</h3>
<p>Registered Reviewers: <%= User.count %> </p>
<p>Your chosen bathrooms are: </p>
<p>Gender neutral </p>
<p><% if @user.male %>
    Male
    <% end %> </p>
<p><% if @user.female%>
    Female
    <% end %> </p>
Choose how you would like to see your bathrooms:
<p> <%= link_to 'Areas', areas_path %>
