<div class="container">
  <div class="row">
    <h3>Buildings</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @buildings.each do |building| %>
            <tr>
              <%= render building %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<p> <%= button_to "Back to Buildings", buildings_path, :method => :get %> </p>
