<div class="container">
  <div class="row">
    <h3>Areas</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @areas.each do |area| %>
            <tr>
              <%= render area %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
